<h1>Tasklist</h1>

<h1>List to do</h1>

<ul>
  <% @tasks.each do |message| %>
    <li><%=link_to message.id, message%>:<%=message.content %></li>
  <% end %>
</ul>

<%=link_to "新規タスクの作成", new_task_path %>
